* {
	box-sizing: border-box;
}

@font-face {
    font-family: 'dejavu_sansbook';
    src: url('/fonts/DejaVuSans-webfont.eot');
    src: url('/fonts/DejaVuSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/DejaVuSans-webfont.woff2') format('woff2'),
         url('/fonts/DejaVuSans-webfont.woff') format('woff'),
         url('/fonts/DejaVuSans-webfont.ttf') format('truetype'),
         url('/fonts/DejaVuSans-webfont.svg#dejavu_sansbook') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dejavu_sansbold';
    src: url('/fonts/DejaVuSans-Bold-webfont.eot');
    src: url('/fonts/DejaVuSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/DejaVuSans-Bold-webfont.woff2') format('woff2'),
         url('/fonts/DejaVuSans-Bold-webfont.woff') format('woff'),
         url('/fonts/DejaVuSans-Bold-webfont.ttf') format('truetype'),
         url('/fonts/DejaVuSans-Bold-webfont.svg#dejavu_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	background:url(/img/bg.png) repeat;
}

form{
	height: 100%;
}

fieldset{
	height: 100%;
}

dl {
	clear:both;
}

dd {
	margin:auto;
	display:block;
}

dd input{
	border: 1px solid black;
	border-radius: 4px;
	padding: 1em;
	text-align: center;
	display: block;
	margin: auto;
}


.action-button{
	padding: 0.75em 1em;
	background-color: #0D1318;
	color: #FFFFFF;
	border: 1px solid transparent;
	border-radius: 2px;
}


.form {
	background-color: #DDD;
	padding-right: 2px;
	padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 0px;
	border: 1px grey solid;
	border-radius: 5px;
	text-align: center;
}

.clear {
	clear:both;
}

#top{
	display: table-row;
}

#flashmsg {
	background-color:#000000;
	color:#eedd00;
	font-weight:bold;
}

#body-container {
	width:800px;
	margin: auto;
	display: table;
}

#login-form {
	margin-right: 5px;
	text-align: center;
	display: table-cell;
	width: 50%;
	height: 100%;
}

#signup-form {
	display: table-cell;
	width: 50%;
}

#synopsis {
	border: 1px solid #999;
	padding: 5px;
	margin: 1px;
	margin-top: 10px;
	width:765px;
	height:auto;
	background-color: #DDD;
	border-radius: 5px;
	overflow:auto;
	margin: auto;
	width: 800px;
	margin-top: 5px;
}

div#header {
	color: #FFFFFF;
	font-weight: bold;
	font-size : 60px;
	text-align: center;
	padding-top: 20px;
	font-family:"DejaVu Sans","dejavu_sans","dejavu_sansbook","Droid Sans",sans-serif;
}

div#footer {
	position:fixed;
	bottom:0;
	width:99%;
	margin:0px;
	padding:5px;
	height:20px;
	text-align:center;
	background-color:#000000;
	color: #FFFFFF;
}

div#footer a, div#footer a:visited{
	color: #FFFFFF;
}

span#game-title {
	background-color: #000000;
}

