body
{
	word-wrap: break-word;
	padding-top: 0px;
	margin-top: 0px;
	margin-left:0px;
	background-image: radial-gradient(circle farthest-side at center, #FFFFFF 0%, #CCC 100%);
}

#body-content
{
	position:relative;
}

table#planetmap tr td
{
	width:30px;
	height:30px;
	color:white;
	border:0px;
	border-collapse:collapse;
}

div#planetmapdiv
{
	padding:30px;
	background:url(../img/bg_planet.png) no-repeat;
	width:450px;
	height:450px;
}

table#fleetmap
{
	background-color: black;
}

table#fleetmap tr td
{
	width:30px;
	height:30px;
	color: white;
}

.color-black{
	color: black;
}

.color-green{
	color: green;
	font-weight: bold;
}

.color-red{
	color: red;
	font-weight: bold;
}


/*.tooltip{
    display: inline;
    position: relative;
}

.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}
*/


.tooltip
{
	border-bottom: 1px dotted #000000;
	//color: #000000; outline: none;
	cursor: help;
	//text-decoration: none;
	position: relative;
	color: #7D7D7D;
}
.tooltip span {
	margin-left: -999em;
	position: absolute;
}
.tooltip:hover span {
	border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	font-family: Calibri, Tahoma, Geneva, sans-serif;
	position: absolute; left: 2em; top: 3em; z-index: 99999;
	margin-left: 0; width: 250px;
	color: #000000;
}
/*.tooltip:hover img {
	border: 0; margin: -10px 0 0 -55px;
	float: left; position: absolute;
}*/
.tooltip:hover em {
	font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
	display: block; padding: 0.2em 0 0.6em 0;
}
.classic { padding: 0.8em 1em; }
.custom { padding: 0.5em 0.8em 0.8em 2em; }
* html a:hover { background: transparent; }
.classic {background: #FFFFAA; border: 1px solid #FFAD33; }
.critical { background: #FFCCAA; border: 1px solid #FF3334;	}
.help { background: #9FDAEE; border: 1px solid #2BB0D7;	}
.info { background: #9FDAEE; border: 1px solid #2BB0D7;	}
.warning { background: #FFFFAA; border: 1px solid #FFAD33; }

#flashmsg
{
    background-color: #fffabd;
    text-align: center;
    color: #444444;
    border: 2px solid #d0c438;
    width:100%;
    position: fixed;
    margin: -15px;
}

div#header {
	position: fixed;
	z-index: 10;
}

#menu {
	float: left;
	width: 180px;
	position: fixed;
	z-index:2;
	background-image:radial-gradient(#FFFFFF, #8C8C8C);
	border-radius: 0px 10px 10px 0px;
	border-color: 1px solid #FFFFFF;
}

#menu ul {
	list-style-type:none;
	padding-left: 0px;
}

#menu ul li {
	padding: 2px;
	padding-left:40px;
}

#menu ul li a {
	display: block;
}

#menu ul li:hover {
	background-image:radial-gradient(#FFFFFF, #7D7D7D);
}

#content {
	margin-left: 200px;
}

.clear {
	clear : both;
}

@media (max-width: 1280px) {
   /* CSS appliqué aux petits écrans */
   div#menu {
      float: none;
      width: auto;
      position: relative;
   }
   #content {
      margin-left: 0px;
   }
}

div.center {
	text-align:center;
}

table#jump_level_dashboard {
	border:0px solid black;
	width:120px;
	border-collapse: collapse;
	margin: 0 auto;
}

table#jump_level_dashboard caption {
	border: 1px solid red;
}

table#jump_level_dashboard caption p {
	margin:2px;
}

table#jump_level_dashboard caption p#jump_level_title {
	font-weight: bold;
}

table#jump_level_dashboard caption p#jump_level_status_text {

}

table#jump_level_dashboard tr {

}

table#jump_level_dashboard tr td {
	border: thin solid #444;
	padding: 5px;
	text-align: center;
}

.jl_green {
	background-color:green;
	color:white;
}

.jl_red {
	background-color:red;
	color:white;
}

.jl_current {
	background-color:yellow;
	font-weight:bold;
}

input.jumpbutton {
	font-size:20px;
	font-family:Tahoma,sans-serif;
	font-weight:bold;
	color:#CCFF00;
	width:120px;
	height:40px;
	background-color:#990000;
	border-style:double;
}

input.jumpbuttondisabled
{
   font-size:20px;
   font-family:Tahoma,sans-serif;
   font-weight:bold;
   color:#444444;
   width:120px;
   height:40px;
   background-color:#AAAAAA;
   border-style:double;
}

div#fleet div#status {
	display: block;
	margin: 0 auto;
}

div#fleet div#status table {
	cell-spacing:2px;
	text-align: center;
	vertical-align: middle;
	table-layout: fixed;
	width: 100%;
	height: 50px;
}

div#fleet div#status table td {
	width: 50px;
}

td.power_green {
	background-color: #7dfb64;
	color:#1b3716;
}

td.power_red {
	background-color: #fb6464;
	color:#380d05;
}

/*
 * CSS largely inspired from http://tablestyler.com
 */
.datagrid table { border-collapse: collapse; text-align: left; width: 100%; }
.datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; border: 1px solid #8C8C8C; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.datagrid table td, .datagrid table th { padding: 3px 10px; }
.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D) );background:-moz-linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');background-color:#8C8C8C; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #A3A3A3; text-align: center; }
.datagrid table thead th:first-child { border: none; }
.datagrid table tbody td { color: #7D7D7D; border-left: 1px solid #DBDBDB;font-size: 12px;font-weight: normal; }
.datagrid table tbody .alt td { background: #EBEBEB; color: #7D7D7D; }
.datagrid table tbody td:first-child { border-left: none; }
.datagrid table tbody tr:last-child td { border-bottom: none; }
.datagrid table tfoot td { padding: 2px; font-size: 12px; text-align: center; border-left: 1px solid #DBDBDB; border-top: 1px solid #DBDBDB; font-weight: bold;}
.datagrid table tbody tr:hover td { background-color: #f6fb78;}
.datagrid table tbody td.important {color:#b12929; font-weight:bold;}
.datagrid table tbody tr:hover td.nohover {background-color: white}

td.enc_green {
	background-color: #5aaf62;
}

td.enc_red {
	background-color: #a3484c;
}

td.enc_orange {
	background-color: #e09b24;
}

td.enc_dark_grey {
	background-color: #494642;
}

.datagrid table tbody tr:hover td.enc_green {
	background-color: #409050;
}

.datagrid table tbody tr:hover td.enc_red {
	background-color: #903030;
}

.datagrid table tbody tr:hover td.enc_orange {
	background-color: #cd8e21;
}

.datagrid table tbody tr:hover td.enc_dark_grey {
	background-color: #494642;
}

div#footer {
	position:fixed;
	bottom:0;
	width:99%;
	margin:0px;
	padding:0px;
	height:20px;
	text-align:center;
	background-color:#FFFFFF;
}

a, a:visited {
	color: #220099;
}

a:hover {
	color: #22aa99;
}

tr.message-unread td, tr.message-unread td a {
	font-weight:bold !important;
}

table tbody tr.alert {
	background-color:#eabbbb;
}

table tbody tr.alert:hover td {
	background-color:#eaa478;
	color: white;
}

a.alert_staff {
	float: right;
	text-decoration: none;
	border-bottom:0px;
}

a.alert_ftl {
	float: right;
	text-decoration: none;
	border-bottom:0px;
}

a.alert_survive {
	float: right;
	text-decoration: none;
	border-bottom:0px;
}

a.recycle_ship {
	float: right;
	text-decoration: none;
	border-bottom:0px;
	cursor:pointer;
}

a.characters_tooltip {
	float: right;
	text-decoration: none;
	border-bottom:0px;
}

div.character_tooltip {
	float: left;
	margin: 0px;
	padding: 0px;
}

p.character_tooltip_avatar {
	padding: 0px;
	margin: 0px;
}

p.character_tooltip_name {
	padding: 0px;
	margin: 0px;
	text-align: center;
}

.arrow{
	height: 16px;
	width: 16px;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 5px;
}
.both{
	background-image: url("/game/img/both.png");
}
.up{
	background-image: url("/game/img/up.png");
}
.down{
	background-image: url("/game/img/down.png");
}

#flashmsg span.ennemy {
	color:#901e1e !important;
}

#admiral_badge {
	float:right;
	padding-right: 5px;
}

.name_edit_link {
	float:right;
}

.upgrade_link {
	visibility: hidden;
	float:right;
	border-bottom:none;
	cursor: pointer;
}

.ship_protection_link {
	float:right;
	border-bottom:none;
	cursor: pointer;
}

.fleet_protection_link {
	border-bottom:none;
	cursor: pointer;
}

.fleet_protection_link span {
	font-size:12px;
	font-weight:normal;
}

.datagrid table tbody tr:hover td a.upgrade_link {
	visibility: visible;
}

.admiral_edit_link {
	visibility: hidden;
}

.datagrid table tbody tr:hover td a.admiral_edit_link {
	visibility: visible;
	float: right;
	padding-right: 3px;
}

dl {

}

dd {
	margin:auto;
	display:inline-block;
}

dd input{
	border: 1px solid black;
	border-radius: 4px;
	text-align: center;
}

.enc_definitions dl dt {
	font-weight: bold;
}

#overlay {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 1000;
    background-image:url("../img/fade-bg.png");
 }

#overlay div#jump_alert {
     width:300px;
     margin: 100px auto;
     background-color: #a6180a;
     border:1px solid #000;
     padding:15px;
     color:#eeeeee;
     text-align:center;
     border-radius:5px;
}

#overlay div#jump_alert h1 {
	color:#CCFF00;
}

#overlay div#jump_alert a {
	color:#ffffff;
	font-weight: bold;
	border: 1px solid #ffffff;
	padding: 5px;
	cursor: pointer;
	border-radius:2px;
}

#overlay div#restart_alert {
     width:300px;
     margin: 100px auto;
     background-color: #a6180a;
     border:1px solid #000;
     padding:15px;
     color:#eeeeee;
     text-align:center;
     border-radius:5px;
}

#overlay div#restart_alert h1 {
	color:#CCFF00;
}

#overlay div#restart_alert a {
	color:#ffffff;
	font-weight: bold;
	border: 1px solid #ffffff;
	padding: 5px;
	cursor: pointer;
	border-radius:2px;
}

#fleet_repair_all {
	border-bottom:0px;
	cursor: pointer;
}

ul#event_answers {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul#event_answers li {

}

di#badges ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

div#badges ul li {
	display: inline;
}

div#badges ul li a {
	border-bottom: none;
}

div#badges ul li a p.badge_title{
	font-weight: bold;
}

div#badges ul li a p.badge_description{
	font-style: italic;
}

ul#political_systems {
	list-style-type: none;
	margin:0px;
	padding:0px;
}

ul#political_systems li {
	float:left;
	border: 1px solid #000;
	border-radius: 5px;
	margin: 2px;
	padding:5px;
}

ul#political_systems li:hover {
	background-color: #fffabd;
}

ul#characters {
	list-style-type: none;
	margin:0px;
	padding:0px;
}

ul#characters li {
	float:left;
	border: 1px solid #000;
	border-radius: 5px;
	margin: 2px;
	padding:5px;
	width: 40%;
	height: 350px;
}

ul#planets {
	list-style-type: none;
	margin:0px;
	padding:0px;
}

ul#planets li {
	float:left;
	border: 1px solid #000;
	border-radius: 5px;
	margin: 2px;
	padding:5px;
}

ul#gplanets {
	list-style-type: none;
	margin:0px;
	padding:0px;
}

ul#gplanets li {
	float:left;
	border: 1px solid #000;
	border-radius: 5px;
	margin: 2px;
	padding:5px;
}

ul#gplanets li div.planet {
	background: url("/game/img/planet/planet-bg-100.png") no-repeat;
	width: 100px;
	height: 100px;
	overflow: auto;
}

ul.garrison {
	margin:0px;
	padding:0px;
}

ul.garrison li {
	border: none !important;
	border-radius: 0px;
	margin: 0px;
	padding: 1px;
	float: none !important;
}

div.planet {
	background: url("/game/img/planet/planet-bg.png") no-repeat;
	width: 200px;
	height: 200px;
	overflow: auto;
}

div.nexus {
	background: url("/game/img/planet/nexus-bg.png") no-repeat;
	width: 100px;
	height: 100px;
	overflow: auto;
}

li.pstatus0 {
	background-color: #99ea99;
}

li.pstatus1 {
	background-color: #ff9696;
}

li.pstatus2 {
	background-color: #ffc190;
}

li.pstatus4 {
	background-color: #380000;
	color: #e1dddd;
}

li.pstatuscolonized {
	background-color: #75afcf;
}

div.planet span.title {
	font-weight: bold;
}

.system_item {
	border-bottom: none;
	color: #000;
}

.system_name {
	font-weight: bold;
	text-align: center;
}

.system_choose {
	text-align: center;
}

.character_item {
	border-bottom: none;
	color: #000;
}

.ship_details {
	display: block;
	float: left;
	height: 400px;
	width: 200px;
}

.ship_info {
	display: block;
	float: left;
}

.ship_details div
{
	height: 400px;
	width: 200px;
}

.ship_general
{
	position: absolute;
}

.ship_o2
{
	position: absolute;
}

.ship_ftl
{
	position: absolute;
}

.blinking{
    -webkit-animation: blink 2s infinite;
    -moz-animation: blink 2s infinite;    
    animation: blink 2s infinite;
}

@-webkit-keyframes blink{

    0%{ opacity:1;}
	50%{opacity:0.2;}
    100%{opacity:1;}
}

@-moz-keyframes blink{

    0%{ opacity:1;}
	50%{opacity:0.2;}
    100%{opacity:1;}

}

@keyframes blink{

    0%{ opacity:1;}
	50%{opacity:0.2;}
    100%{opacity:1;}

}

.ship_compo {
	width: 70px;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	font-size: 14px;
	border-radius: 5px;
	margin: 2px;
}

.ship_compo_green {
	color: #FFFFFF;
	background-color: #009800;
	border: 1px #006100 solid;
}

.ship_compo_red {
	color: #FFFFFF;
	background-color: #980000;
	border: 1px #610000 solid;
}

.ship_compo_info {
	font-weight: normal;
	font-size: 12px;
}

.ship_compo_info progress {
	width: 50px;
	height: 5px;
}

.ship_info dl dt {
	font-weight: bold;
}

.ship_info dl dd {
	margin-bottom: 8px;
}

.clickable {
	cursor: pointer;
}

.dashboard_ship {
	float: left;
	width:50px;
	height:100px;
	padding:1px;
}

.dashboard_ship:hover {
	float: left;
	width:50px;
	height:100px;
	border: 1px solid #009900;
	padding:0px;
	border-radius:25px;
}

.monitor-bg {
	color:white;
	background-image: url("/game/img/dashboard-monitor.png");
	width: 326px;
	height: 200px;
	padding: 0px;
	margin:0 auto;
	
}

.monitor {
	width: 326px;
	height: 200px;
	padding: 25px;
}

#help {
	float:right;
}

#help-close {
	float: right;
	padding: 10px;
}

#help-content {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.85);
    background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9; /* ie fallback png background image */
    z-index:9999;
    color:white;
    width:100%;
}

#help-content-desc {
	width: 50%;
	margin: 0 auto;
	height: 600px;

	position:absolute;
	left:0; right:0;
	top:0; bottom:0;
	margin:auto;

	/*this to solve "the content will not be cut when the window is smaller than the content": */
	max-width:100%;
	max-height:100%;
	overflow:auto;
}

#dashboard_fleet {
	border: 2px solid #090;
	margin-top: 16px;
	border-radius:10px;
	background-color:rgba(220, 255, 220, 0.25);
	padding: 2px;
}

#dashboard_ennemies {
	border: 2px solid #900;
	margin-top: 16px;
	border-radius:10px;
	background-color:rgba(255, 220, 220, 0.25);
	padding-bottom: 5px;
	padding: 2px;
}

#dashboard_jump {
	border: 2px solid #009;
	margin-top: 16px;
	border-radius:10px;
	background-color:rgba(220, 220, 255, 0.25);
	padding-bottom: 20px;
	padding: 2px;
}

#dashboard_jump.jump_preparing {
	background-color:rgba(220, 200, 150, 0.25);
}

#dashboard_jump.jump_safe {
	background-color:rgba(220, 255, 220, 0.25);
}

#dashboard_jump.jump_notready {
	background-color:rgba(255, 220, 220, 0.25);
}

.eship {
	width: 50px;
	height: 100px;
	float:left;
	padding: 1px;
}

.eship img {
	border-radius:25px;
}

.eship.damaged img {
	background-color: rgba(220,150,10,0.75);
}

.eship.heavydamaged img {
	background-color: rgba(220,80,30,0.75);
}

.dashboard_eships {
}

.eship:hover {
	width:50px;
	height:100px;
	border: 1px solid #990000;
	padding:0px;
	border-radius:25px;
}

.eship .tooltip {
	cursor: default;
	border-bottom: 0px;
}

.eship label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

.eship label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:1px dashed #900;
  background-color:rgba(224,224,40,0.5);
  padding:0px;
}
